

p{

	font-size: 150%;
	text-align: justify;
	font-weight: normal;



}

h1{

	text-align: left;
	margin: 60px;
	padding: 40px;
	font-size: 60px;
}

body{
	background-color: aqua
	;
}

a{
	color: green;
	animatabl

}
b{
	margin: 30px;
	font-size: 30px;
}
i{
	margin: 40px
	;
}

